<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="STYLESHEET" href="css/css.css" type="text/css">

<head>
    <title>Change fill in for other ID VCM </title>
</head>

<body>
<div class="navbar">
    <div class="dropdown">
        <img src="images/cm2.png" alt="CM" width="70" height="70">
    </div>
    <div class="dropdown">
        <button class="dropbtn">Fill in
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/pageFillin">Fill in</a>
            <a href="/changeoption">Change fill in</a>
            <a href="/changeotherId">Change fill in other id</a>
            <a href="/fillinotherId">Fill in other id</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Own data
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/ownData">Tasks and absent</a>
            <a href="/ownDataAbsent">List absent</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Information
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/schema">Completed table</a>
            <a href="/lcm">LCM</a>
            <a href="/vcm">VCM</a>
            <a href="/mcfg">MCFG</a>
            <a href="/allAbsent">Absent: all members</a>
            <a href="/alltasksallmember">Tasks: all members</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">List all members
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/allStaffMember">List all members</a>
            <a href="/alltask">list: all tasks</a>
            <a href="/allfunction">list: all functions</a>
            <a href="/alllocation">list: all locations</a>
            <a href="/alldateName">list: all date</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">CheckList
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/check">Checklist</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Sign out
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/signOut">Sign out</a>
        </div>
    </div>
</div>
<br>
<div class="fillin">
    <form th:action="@{changeotherIdVCM}">
        <div>
            <label for="week">Choose a week:</label>
            <select name="week" id="week">
                <option th:each="fillin: ${dateNames}">[[${fillin.nameDate}]]</option>
            </select>
            <label for="nameMember">Choose a name:</label>
            <select name="nameMember" id="nameMember">
                <option th:each="fillin: ${staffMembersVCM}">[[${fillin.name}]]</option>
            </select>
            <input type="submit" class="registerbtn" value="search">
        </div>
    </form>
</div>
</body>
</html>