<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="STYLESHEET" href="css/css.css" type="text/css">

<head>
    <title>Fill in VCM</title>
</head>

<body>
<div class="navbar">
    <div class="dropdown">
        <img src="images/cm2.png" alt="CM" width="70" height="70">
    </div>
    <div class="dropdown">
        <button class="dropbtn">Fill in
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/pageFillin">Fill in</a>
            <a href="/changeoption2">Change fill in</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Own data
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/ownData2">Tasks and absent</a>
            <a href="/ownDataAbsent2">List absent</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Information
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/schema2">Completed table</a>
            <a href="/lcm2">LCM</a>
            <a href="/vcm2">VCM</a>
            <a href="/mcfg2">MCFG</a>
            <a href="/allAbsent2">Absent: all members</a>
            <a href="/alltasksallmember2">Tasks: all members</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Sign out
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/signOut">Sign out</a>
        </div>
    </div>
</div>
<br>
<div class="fillin">
    <form th:action="@{newFillinVCM2}">
        <div>
            <label for="week">Choose a week:</label>
            <select name="week" id="week">
                <option th:each="fillin: ${dateNamesId}">[[${fillin.nameDate}]]</option>
            </select>
            <br>
            <br>
            <p>You only have to choose a task if your function is tasks</p>
            <h3><u>Monday</u> </h3>
            <label>AM :</label>
            <input TYPE="checkbox" NAME="monAmAbsent" VALUE="Absent">absent

            <label for="monAmFunction" >Choose a function :</label>
            <select name="monAmFunction" id="monAmFunction" >
                <option value="" >Choose a function</option>
                <option th:each="function: ${functionVCMs}">[[${function.namefunction}]]</option>
            </select>

            <label for="monAmTask" >Choose a task :</label>
            <select name="monAmTask" id="monAmTask" >
                <option value="" >Choose a task</option>
                <option th:each="task: ${tasks}" >[[${task.taskName}]]</option>
            </select>

            <label for="monAmLocation">Choose a location :</label>
            <select name="monAmLocation" id="monAmLocation">
                <option value="" >Choose a Location</option>
                <option th:each="location: ${locations}" >[[${location.locationName}]]</option>
            </select>
            <br>
            <label>PM : </label>
            <input TYPE="checkbox" NAME="monPmAbsent" VALUE="Absent">absent
            <label for="monPmFunction" >Choose a function :</label>
            <select name="monPmFunction" id="monPmFunction" >
                <option value="" >Choose a function</option>
                <option th:each="function: ${functionVCMs}">[[${function.namefunction}]]</option>
            </select>
            <label for="monPmTask" >Choose a task :</label>
            <select name="monPmTask" id="monPmTask" >
                <option value="" >Choose a task</option>
                <option th:each="task: ${tasks}">[[${task.taskName}]]</option>
            </select>
            <label for="monPmLocation">Choose a location :</label>
            <select name="monPmLocation" id="monPmLocation">
                <option value="" >Choose a location</option>
                <option th:each="location: ${locations}" >[[${location.locationName}]]</option>
            </select>
            <br>
            <h3><u>Tuesday</u> </h3>
            <label>AM :</label>
            <input TYPE="checkbox" NAME="tueAmAbsent" VALUE="Absent">absent
            <label for="tueAmFunction" >Choose a function :</label>
            <select name="tueAmFunction" id="tueAmFunction" >
                <option value="" >Choose a function</option>
                <option th:each="function: ${functionVCMs}" >[[${function.namefunction}]]</option>
            </select>
            <label for="tueAmTask" >Choose a task :</label>
            <select name="tueAmTask" id="tueAmTask" >
                <option value="" >Choose a task</option>
                <option th:each="task: ${tasks}">[[${task.taskName}]]</option>
            </select>
            <label for="tueAmLocation">Choose a location :</label>
            <select name="tueAmLocation" id="tueAmLocation">
                <option value="" >Choose a location</option>
                <option th:each="location: ${locations}" >[[${location.locationName}]]</option>
            </select>
            <br>
            <label>PM : </label>
            <input TYPE="checkbox" NAME="tuePmAbsent" VALUE="Absent">absent
            <label for="tuePmFunction" >Choose a function :</label>
            <select name="tuePmFunction" id="tuePmFunction" >
                <option value="" >Choose a function</option>
                <option th:each="function: ${functionVCMs}" >[[${function.namefunction}]]</option>
            </select>
            <label for="tuePmTask" >Choose a task :</label>
            <select name="tuePmTask" id="tuePmTask" >
                <option value="" >Choose a task</option>
                <option th:each="task: ${tasks}" >[[${task.taskName}]]</option>
            </select>
            <label for="tuePmLocation">Choose a location :</label>
            <select name="tuePmLocation" id="tuePmLocation">
                <option value="" >Choose a location</option>
                <option th:each="location: ${locations}" >[[${location.locationName}]]</option>
            </select>
            <br>
            <h3><u>WednesDay</u></h3>
            <label>AM :</label>
            <input TYPE="checkbox" NAME="wedAmAbsent" VALUE="Absent">absent
            <label for="wedAmFunction" >Choose a function :</label>
            <select name="wedAmFunction" id="wedAmFunction" >
                <option value="" >Choose a function</option>
                <option th:each="function:${functionVCMs}" >[[${function.namefunction}]]</option>
            </select>
            <label for="wedAmTask" >Choose a task :</label>
            <select name="wedAmTask" id="wedAmTask" >
                <option value="" >Choose a task</option>
                <option th:each="task: ${tasks}" >[[${task.taskName}]]</option>
            </select>
            <label for="wedAmLocation">Choose a location :</label>
            <select name="wedAmLocation" id="wedAmLocation">
                <option value="" >Choose a location</option>
                <option th:each="location: ${locations}" >[[${location.locationName}]]</option>
            </select>
            <br>
            <label>PM : </label>
            <input TYPE="checkbox" NAME="wedPmAbsent" VALUE="Absent">absent
            <label for="wedPmFunction" >Choose a function :</label>
            <select name="wedPmFunction" id="wedPmFunction" >
                <option value="" >Choose a function</option>
                <option th:each="function: ${functionVCMs}">[[${function.namefunction}]]</option>
            </select>
            <label for="wedPmTask" >Choose a task :</label>
            <select name="wedPmTask" id="wedPmTask" >
                <option value="" >Choose a task</option>
                <option th:each="task: ${tasks}">[[${task.taskName}]]</option>
            </select>
            <label for="wedPmLocation">Choose a location :</label>
            <select name="wedPmLocation" id="wedPmLocation">
                <option value="" >Choose a location</option>
                <option th:each="location: ${locations}" >[[${location.locationName}]]</option>
            </select>
            <br>
            <h3><u>Thursday</u> </h3>
            <label>AM :</label>
            <input TYPE="checkbox" NAME="thuAmAbsent" VALUE="Absent">absent
            <label for="thuAmFunction" >Choose a function :</label>
            <select name="thuAmFunction" id="thuAmFunction" >
                <option value="" >Choose a function</option>
                <option th:each="function: ${functionVCMs}">[[${function.namefunction}]]</option>
            </select>
            <label for="thuAmTask" >Choose a task :</label>
            <select name="thuAmTask" id="thuAmTask" >
                <option value="" >Choose a task</option>
                <option th:each="task: ${tasks}">[[${task.taskName}]]</option>
            </select>
            <label for="thuAmLocation">Choose a location :</label>
            <select name="thuAmLocation" id="thuAmLocation">
                <option value="" >Choose a Location</option>
                <option th:each="location: ${locations}" >[[${location.locationName}]]</option>
            </select>
            <br>
            <label>PM : </label>
            <input TYPE="checkbox" NAME="thuPmAbsent" VALUE="Absent">absent
            <label for="thuPmFunction" >Choose a function :</label>
            <select name="thuPmFunction" id="thuPmFunction" >
                <option value="" >Choose a function</option>
                <option th:each="function: ${functionVCMs}">[[${function.namefunction}]]</option>
            </select>
            <label for="thuPmTask" >Choose a task :</label>
            <select name="thuPmTask" id="thuPmTask" >
                <option value="" >Choose a task</option>
                <option th:each="task: ${tasks}">[[${task.taskName}]]</option>
            </select>
            <label for="thuPmLocation">Choose a location :</label>
            <select name="thuPmLocation" id="thuPmLocation">
                <option value="" >Choose a location</option>
                <option th:each="location: ${locations}" >[[${location.locationName}]]</option>
            </select>
            <br>
            <h3><u>Friday</u></h3>
            <label>AM :</label>
            <input TYPE="checkbox" NAME="friAmAbsent" VALUE="Absent">absent
            <label for="friAmFunction" >Choose a function :</label>
            <select name="friAmFunction" id="friAmFunction" >
                <option value="" >Choose a function</option>
                <option th:each="function: ${functionVCMs}">[[${function.namefunction}]]</option>
            </select>
            <label for="friAmTask" >Choose a task :</label>
            <select name="friAmTask" id="friAmTask" >
                <option value="" >Choose a task</option>
                <option th:each="task: ${tasks}">[[${task.taskName}]]</option>
            </select>
            <label for="friAmLocation">Choose a location :</label>
            <select name="friAmLocation" id="friAmLocation">
                <option value="" >Choose a location</option>
                <option th:each="location: ${locations}" >[[${location.locationName}]]</option>
            </select>
            <br>
            <label>PM : </label>
            <input TYPE="checkbox" NAME="friPmAbsent" VALUE="Absent">absent
            <label for="friPmFunction" >Choose a function :</label>
            <select name="friPmFunction" id="friPmFunction" >
                <option value="" >Choose a function</option>
                <option th:each="function: ${functionVCMs}">[[${function.namefunction}]]</option>
            </select>
            <label for="friPmTask" >Choose a task :</label>
            <select name="friPmTask" id="friPmTask" >
                <option value="" >Choose a task</option>
                <option th:each="task: ${tasks}">[[${task.taskName}]]</option>
            </select>
            <label for="friPmLocation">Choose a location :</label>
            <select name="friPmLocation" id="friPmLocation">
                <option value="" >Choose a location</option>
                <option th:each="location: ${locations}" >[[${location.locationName}]]</option>
            </select>
            <br>
            <br>
            <div>
                <input type="submit" class="registerbtn" value="submit">
            </div>
        </div>
    </form>
</div>
</body>

</html>