<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="STYLESHEET" href="css/css.css" type="text/css">

<head>
    <title>Fill in MCFG</title>
</head>

<body>
<div class="navbar">
    <div class="dropdown">
        <img src="images/cm2.png" alt="CM" width="70" height="70">
    </div>
    <div class="dropdown">
        <button class="dropbtn">Fill in
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/pageFillin">Fill in</a>
            <a href="/changeoption2">Change fill in</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Own data
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/ownData2">Tasks and absent</a>
            <a href="/ownDataAbsent2">List absent</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Information
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/schema2">Completed table</a>
            <a href="/lcm2">LCM</a>
            <a href="/vcm2">VCM</a>
            <a href="/mcfg2">MCFG</a>
            <a href="/allAbsent2">Absent: all members</a>
            <a href="/alltasksallmember2">Tasks: all members</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Sign out
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/signOut">Sign out</a>
        </div>
    </div>
</div>
<br>
<div class="fillin">
    <h2>Week</h2>
    <form action="/changefillin">
        <button class="button button1">Week</button>
    </form>
    <h2>Monday</h2>
    <form action="/changemonday">
        <button class="button button1">Monday</button>
    </form>
    <h2>Tuesday</h2>
    <form action="/changetuesday">
        <button class="button button1">Tuesday</button>
    </form>
    <h2>Wednesday</h2>
    <form action="/changewednesday">
        <button class="button button1">Wednesday</button>
    </form>
    <h2>Thursday</h2>
    <form action="/changethursday">
        <button class="button button1">Thursday</button>
    </form>
    <h2>Friday</h2>
    <form action="/changefriday">
        <button class="button button1">Friday</button>
    </form>
</div>
</body>

</html>