<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="STYLESHEET" href="css/css.css" type="text/css">

<head>
    <title>LCM</title>
</head>

<body>
<div class="navbar">
    <div class="dropdown">
        <img src="images/cm2.png" alt="CM" width="70" height="70">
    </div>
    <div class="dropdown">
        <button class="dropbtn">Fill in
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/pageFillin">Fill in</a>
            <a href="/changefillin">Change fill in</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Own data
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/ownData2">Tasks and absent</a>
            <a href="/ownDataAbsent2">List absent</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Information
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/schema2">Completed table</a>
            <a href="/lcm2">LCM</a>
            <a href="/vcm2">VCM</a>
            <a href="/mcfg2">MCFG</a>
            <a href="/allAbsent2">Absent: all members</a>
            <a href="/alltasksallmember2">Tasks: all members</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Sign out
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/signOut">Sign out</a>
        </div>
    </div>
</div>

<p th:each="fillin: ${fillinLCMWeek}" >Week :  [[${fillin.week}]]</p>
<table>
    <tr>
        <th colspan="3"></th>
        <th class="schema2">Mon Am</th>
        <th class="schema2">Loc:</th>
        <th class="schema2">Mon PM</th>
        <th class="schema2">Loc:</th>
        <th class="schema2">Tue Am</th>
        <th class="schema2">Loc:</th>
        <th class="schema2">Tue PM</th>
        <th class="schema2">Loc:</th>
        <th class="schema2">Wed Am</th>
        <th class="schema2">Loc:</th>
        <th class="schema2">Wed PM</th>
        <th class="schema2">Loc:</th>
        <th class="schema2">Thu Am</th>
        <th class="schema2">Loc:</th>
        <th class="schema2">Thu PM</th>
        <th class="schema2">Loc:</th>
        <th class="schema2">Fri Am</th>
        <th class="schema2">Loc:</th>
        <th class="schema2">Fri PM</th>
        <th class="schema2">Loc:</th>
    </tr>
    <tr>
        <th>SD 1L LCM</th>
        <th>7u30</th>
        <th></th>
        <td th:each="fillin: ${fillinLCMMonAmTel}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMMonAmTel}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMMonPmTel}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMMonPmTel}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMTueAmTel}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMTueAmTel}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMTuePmTel}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMTuePmTel}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMWedAmTel}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMWedAmTel}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMWedPmTel}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMWedPmTel}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMThuAmTel}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMThuAmTel}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMThuPmTel}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMThuPmTel}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMFriAmTel}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMFriAmTel}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMFriPmTel}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMFriPmTel}">[[${fillin.abbreviationLocation}]]</td>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <td th:each="fillin: ${fillinLCMMonAmTelPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMMonAmTelPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMMonPmTelPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMMonPmTelPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMTueAmTelPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMTueAmTelPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMTuePmTelPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMTuePmTelPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMWedAmTelPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMWedAmTelPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMWedPmTelPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMWedPmTelPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMThuAmTelPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMThuAmTelPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMThuPmTelPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMThuPmTelPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMFriAmTelPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMFriAmTelPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMFriPmTelPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMFriPmTelPer2}">[[${fillin.abbreviationLocation}]]</td>
    </tr>
    <tr>
        <th>SD 1L LCM</th>
        <th>17u30</th>
        <th></th>
        <td th:each="fillin: ${fillinLCMMonAmTel2Per}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMMonAmTel2Per}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMMonPmTel2Per}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMMonPmTel2Per}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMTueAmTel2Per}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMTueAmTel2Per}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMTuePmTel2Per}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMTuePmTel2Per}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMWedAmTel2Per}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMWedAmTel2Per}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMWedPmTel2Per}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMWedPmTel2Per}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMThuAmTel2Per}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMThuAmTel2Per}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMThuPmTel2Per}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMThuPmTel2Per}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMFriAmTel2Per}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMFriAmTel2Per}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMFriPmTel2Per}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMFriPmTel2Per}">[[${fillin.abbreviationLocation}]]</td>
    </tr>
    <tr>
        <th colspan="23" class="schema"></th>
    </tr>
    <tr>
        <th>SD 2L INC LCM</th>
        <th></th>
        <th></th>
        <td th:each="fillin: ${fillinLCMMonAmINCPer1}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMMonAmINCPer1}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMMonPmINCPer1}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMMonPmINCPer1}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMTueAmINCPer1}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMTueAmINCPer1}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMTuePmINCPer1}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMTuePmINCPer1}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMWedAmINCPer1}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMWedAmINCPer1}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMWedPmINCPer1}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMWedPmINCPer1}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMThuAmINCPer1}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMThuAmINCPer1}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMThuPmINCPer1}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMThuPmINCPer1}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMFriAmINCPer1}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMFriAmINCPer1}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMFriPmINCPer1}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMFriPmINCPer1}">[[${fillin.abbreviationLocation}]]</td>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <td th:each="fillin: ${fillinLCMMonAmINCPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMMonAmINCPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMMonPmINCPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMMonPmINCPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMTueAmINCPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMTueAmINCPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMTuePmINCPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMTuePmINCPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMWedAmINCPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMWedAmINCPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMWedPmINCPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMWedPmINCPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMThuAmINCPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMThuAmINCPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMThuPmINCPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMThuPmINCPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMFriAmINCPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMFriAmINCPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMFriPmINCPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMFriPmINCPer2}">[[${fillin.abbreviationLocation}]]</td>
    </tr>
    <tr>
        <th>SD 2L SR LCM</th>
        <th></th>
        <th></th>
        <td th:each="fillin: ${fillinLCMMonAmSR}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMMonAmSR}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMMonPmSR}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMMonPmSR}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMTueAmSR}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMTueAmSR}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMTuePmSR}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMTuePmSR}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMWedAmSR}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMWedAmSR}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMWedPmSR}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMWedPmSR}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMThuAmSR}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMThuAmSR}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMThuPmSR}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMThuPmSR}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMFriAmSR}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMFriAmSR}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMFriPmSR}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMFriPmSR}">[[${fillin.abbreviationLocation}]]</td>
    </tr>
    <tr>
        <th>Balie LCM</th>
        <th></th>
        <th>8u30</th>
        <td th:each="fillin: ${fillinLCMMonAmBalie}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMMonAmBalie}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMMonPmBalie}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMMonPmBalie}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMTueAmBalie}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMTueAmBalie}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMTuePmBalie}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMTuePmBalie}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMWedAmBalie}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMWedAmBalie}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMWedPmBalie}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMWedPmBalie}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMThuAmBalie}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMThuAmBalie}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMThuPmBalie}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMThuPmBalie}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMFriAmBalie}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMFriAmBalie}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinLCMFriPmBalie}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinLCMFriPmBalie}">[[${fillin.abbreviationLocation}]]</td>
    </tr>

    <tr>
        <th colspan="23" class="schema">Tasks</th>
    </tr>
    <tr>
        <th colspan="3"></th>
        <td th:each="fillin: ${tableFillinLCMTaskMonAm}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${tableFillinLCMTaskMonAm}">[[${fillin.monAmTask}]]</td>
        <td th:each="fillin: ${tableFillinLCMTaskMonPm}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${tableFillinLCMTaskMonPm}">[[${fillin.monPmTask}]]</td>
        <td th:each="fillin: ${tableFillinLCMTaskTueAm}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${tableFillinLCMTaskTueAm}">[[${fillin.tueAmTask}]]</td>
        <td th:each="fillin: ${tableFillinLCMTaskTuePm}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${tableFillinLCMTaskTuePm}">[[${fillin.tuePmTask}]]</td>
        <td th:each="fillin: ${tableFillinLCMTaskWedAm}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${tableFillinLCMTaskWedAm}">[[${fillin.wedAmTask}]]</td>
        <td th:each="fillin: ${tableFillinLCMTaskWedPm}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${tableFillinLCMTaskWedPm}">[[${fillin.wedPmTask}]]</td>
        <td th:each="fillin: ${tableFillinLCMTaskThuAm}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${tableFillinLCMTaskThuAm}">[[${fillin.thuAmTask}]]</td>
        <td th:each="fillin: ${tableFillinLCMTaskThuPm}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${tableFillinLCMTaskThuPm}">[[${fillin.thuPmTask}]]</td>
        <td th:each="fillin: ${tableFillinLCMTaskFriAm}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${tableFillinLCMTaskFriAm}">[[${fillin.friAmTask}]]</td>
        <td th:each="fillin: ${tableFillinLCMTaskFriPm}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${tableFillinLCMTaskFriPm}">[[${fillin.friPmTask}]]</td>
    </tr>
    <tr>
        <th colspan="23" class="schema">Absent</th>
    </tr>
    <tr >
        <th colspan="3"></th>
        <td colspan="2" th:each="fillin: ${tableFillinLCMAbsentMonAm}" >[[${fillin.abbreviationName}]]</td>
        <td colspan="2" th:each="fillin: ${tableFillinLCMAbsentMonPm}" >[[${fillin.abbreviationName}]]</td>
        <td colspan="2" th:each="fillin: ${tableFillinLCMAbsentTueAm}" >[[${fillin.abbreviationName}]]</td>
        <td colspan="2" th:each="fillin: ${tableFillinLCMAbsentTuePm}" >[[${fillin.abbreviationName}]]</td>
        <td colspan="2" th:each="fillin: ${tableFillinLCMAbsentWedAm}" >[[${fillin.abbreviationName}]]</td>
        <td colspan="2" th:each="fillin: ${tableFillinLCMAbsentWedPm}" >[[${fillin.abbreviationName}]]</td>
        <td colspan="2" th:each="fillin: ${tableFillinLCMAbsentThuAm}" >[[${fillin.abbreviationName}]]</td>
        <td colspan="2" th:each="fillin: ${tableFillinLCMAbsentThuPm}" >[[${fillin.abbreviationName}]]</td>
        <td colspan="2" th:each="fillin: ${tableFillinLCMAbsentFriAm}" >[[${fillin.abbreviationName}]]</td>
        <td colspan="2" th:each="fillin: ${tableFillinLCMAbsentFriPm}" >[[${fillin.abbreviationName}]]</td>
    </tr>
</table>
</body>
</html>