<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:td="http://www.w3.org/1999/xhtml">
<link rel="STYLESHEET" href="css/css.css" type="text/css">

<head>
    <title>MCFG</title>
</head>

<body>
<div class="navbar">
    <div class="dropdown">
        <img src="images/cm2.png" alt="CM" width="70" height="70">
    </div>
    <div class="dropdown">
        <button class="dropbtn">Fill in
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/pageFillin">Fill in</a>
            <a href="/changefillin">Change fill in</a>
            <a href="/changeotherId">Change fill in other id</a>
            <a href="/fillinotherId">Fill in other id</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Own data
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/ownData">Tasks and absent</a>
            <a href="/ownDataAbsent">List absent</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Information
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/schema">Completed table</a>
            <a href="/lcm">LCM</a>
            <a href="/vcm">VCM</a>
            <a href="/mcfg">MCFG</a>
            <a href="/allAbsent">Absent: all members</a>
            <a href="/alltasksallmember">Tasks: all members</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">List all members
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/allStaffMember">List all members</a>
            <a href="/alltask">list: all tasks</a>
            <a href="/allfunction">list: all functions</a>
            <a href="/alllocation">list: all locations</a>
            <a href="/alldateName">list: all date</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">CheckList
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/check">Checklist</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Sign out
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/signOut">Sign out</a>
        </div>
    </div>
</div>

<p th:each="fillin: ${fillinMCFGWeek}" >Week :  [[${fillin.week}]]</p>
<table >
    <tr>
        <th colspan="3"></th>
        <th class="schema2">Mon Am</th>
        <th class="schema2">Loc:</th>
        <th class="schema2">Mon PM</th>
        <th class="schema2">Loc:</th>
        <th class="schema2">Tue Am</th>
        <th class="schema2">Loc:</th>
        <th class="schema2">Tue PM</th>
        <th class="schema2">Loc:</th>
        <th class="schema2">Wed Am</th>
        <th class="schema2">Loc:</th>
        <th class="schema2">Wed PM</th>
        <th class="schema2">Loc:</th>
        <th class="schema2">Thu Am</th>
        <th class="schema2">Loc:</th>
        <th class="schema2">Thu PM</th>
        <th class="schema2">Loc:</th>
        <th class="schema2">Fri Am</th>
        <th class="schema2">Loc:</th>
        <th class="schema2">Fri PM</th>
        <th class="schema2">Loc:</th>
    </tr>
    <tr>
        <th>SD 1L</th>
        <th></th>
        <th></th>
        <td th:each="fillin: ${fillinMCFGMonAmTel}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGMonAmTel}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGMonPmTel}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGMonPmTel}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGTueAmTel}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGTueAmTel}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGTuePmTel}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGTuePmTel}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGWedAmTel}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGWedAmTel}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGWedPmTel}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGWedPmTel}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGThuAmTel}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGThuAmTel}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGThuPmTel}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGThuPmTel}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGFriAmTel}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGFriAmTel}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGFriPmTel}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGFriPmTel}">[[${fillin.abbreviationLocation}]]</td>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <td th:each="fillin: ${fillinMCFGMonAmTelPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGMonAmTelPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGMonPmTelPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGMonPmTelPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGTueAmTelPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGTueAmTelPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGTuePmTelPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGTuePmTelPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGWedAmTelPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGWedAmTelPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGWedPmTelPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGWedPmTelPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGThuAmTelPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGThuAmTelPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGThuPmTelPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGThuPmTelPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGFriAmTelPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGFriAmTelPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGFriPmTelPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGFriPmTelPer2}">[[${fillin.abbreviationLocation}]]</td>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <td th:each="fillin: ${fillinMCFGMonAmTelPer3}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGMonAmTelPer3}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGMonPmTelPer3}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGMonPmTelPer3}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGTueAmTelPer3}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGTueAmTelPer3}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGTuePmTelPer3}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGTuePmTelPer3}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGWedAmTelPer3}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGWedAmTelPer3}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGWedPmTelPer3}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGWedPmTelPer3}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGThuAmTelPer3}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGThuAmTelPer3}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGThuPmTelPer3}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGThuPmTelPer3}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGFriAmTelPer3}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGFriAmTelPer3}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGFriPmTelPer3}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGFriPmTelPer3}">[[${fillin.abbreviationLocation}]]</td>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <td th:each="fillin: ${fillinMCFGMonAmTelPer4}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGMonAmTelPer4}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGMonPmTelPer4}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGMonPmTelPer4}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGTueAmTelPer4}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGTueAmTelPer4}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGTuePmTelPer4}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGTuePmTelPer4}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGWedAmTelPer4}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGWedAmTelPer4}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGWedPmTelPer4}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGWedPmTelPer4}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGThuAmTelPer4}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGThuAmTelPer4}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGThuPmTelPer4}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGThuPmTelPer4}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGFriAmTelPer4}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGFriAmTelPer4}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGFriPmTelPer4}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGFriPmTelPer4}">[[${fillin.abbreviationLocation}]]</td>
    </tr>
    <tr>
        <th colspan="23" class="schema"></th>
    </tr>
    <tr>
        <th>2L INC MCFG</th>
        <th></th>
        <th></th>
        <td th:each="fillin: ${fillinMCFGMonAmINCPer1}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGMonAmINCPer1}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGMonPmINCPer1}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGMonPmINCPer1}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGTueAmINCPer1}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGTueAmINCPer1}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGTuePmINCPer1}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGTuePmINCPer1}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGWedAmINCPer1}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGWedAmINCPer1}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGWedPmINCPer1}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGWedPmINCPer1}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGThuAmINCPer1}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGThuAmINCPer1}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGThuPmINCPer1}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGThuPmINCPer1}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGFriAmINCPer1}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGFriAmINCPer1}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGFriPmINCPer1}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGFriPmINCPer1}">[[${fillin.abbreviationLocation}]]</td>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <td th:each="fillin: ${fillinMCFGMonAmINCPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGMonAmINCPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGMonPmINCPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGMonPmINCPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGTueAmINCPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGTueAmINCPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGTuePmINCPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGTuePmINCPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGWedAmINCPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGWedAmINCPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGWedPmINCPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGWedPmINCPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGThuAmINCPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGThuAmINCPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGThuPmINCPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGThuPmINCPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGFriAmINCPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGFriAmINCPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGFriPmINCPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGFriPmINCPer2}">[[${fillin.abbreviationLocation}]]</td>
    </tr>
    <tr>
        <th>SD 2L SR MCFG</th>
        <th></th>
        <th></th>
        <td th:each="fillin: ${fillinMCFGMonAmSR}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGMonAmSR}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGMonPmSR}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGMonPmSR}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGTueAmSR}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGTueAmSR}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGTuePmSR}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGTuePmSR}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGWedAmSR}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGWedAmSR}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGWedPmSR}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGWedPmSR}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGThuAmSR}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGThuAmSR}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGThuPmSR}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGThuPmSR}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGFriAmSR}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGFriAmSR}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinMCFGFriPmSR}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinMCFGFriPmSR}">[[${fillin.abbreviationLocation}]]</td>
    </tr>
    <tr>
        <th colspan="23" class="schema">Tasks</th>
    </tr>
    <tr>
        <th colspan="3"></th>
        <td th:each="fillin: ${tableFillinMCFGTaskMonAm}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${tableFillinMCFGTaskMonAm}">[[${fillin.monAmTask}]]</td>
        <td th:each="fillin: ${tableFillinMCFGTaskMonPm}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${tableFillinMCFGTaskMonPm}">[[${fillin.monPmTask}]]</td>
        <td th:each="fillin: ${tableFillinMCFGTaskTueAm}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${tableFillinMCFGTaskTueAm}">[[${fillin.tueAmTask}]]</td>
        <td th:each="fillin: ${tableFillinMCFGTaskTuePm}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${tableFillinMCFGTaskTuePm}">[[${fillin.tuePmTask}]]</td>
        <td th:each="fillin: ${tableFillinMCFGTaskWedAm}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${tableFillinMCFGTaskWedAm}">[[${fillin.wedAmTask}]]</td>
        <td th:each="fillin: ${tableFillinMCFGTaskWedPm}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${tableFillinMCFGTaskWedPm}">[[${fillin.wedPmTask}]]</td>
        <td th:each="fillin: ${tableFillinMCFGTaskThuAm}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${tableFillinMCFGTaskThuAm}">[[${fillin.thuAmTask}]]</td>
        <td th:each="fillin: ${tableFillinMCFGTaskThuPm}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${tableFillinMCFGTaskThuPm}">[[${fillin.thuPmTask}]]</td>
        <td th:each="fillin: ${tableFillinMCFGTaskFriAm}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${tableFillinMCFGTaskFriAm}">[[${fillin.friAmTask}]]</td>
        <td th:each="fillin: ${tableFillinMCFGTaskFriPm}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${tableFillinMCFGTaskFriPm}">[[${fillin.friPmTask}]]</td>
    </tr>
    <tr>
        <th colspan="23" class="schema">Absent</th>
    </tr>
    <tr >
        <th colspan="3"></th>
        <td colspan="2" th:each="fillin: ${tableFillinMCFGAbsentMonAm}" >[[${fillin.abbreviationName}]]</td>
        <td colspan="2" th:each="fillin: ${tableFillinMCFGAbsentMonPm}" >[[${fillin.abbreviationName}]]</td>
        <td colspan="2" th:each="fillin: ${tableFillinMCFGAbsentTueAm}" >[[${fillin.abbreviationName}]]</td>
        <td colspan="2" th:each="fillin: ${tableFillinMCFGAbsentTuePm}" >[[${fillin.abbreviationName}]]</td>
        <td colspan="2" th:each="fillin: ${tableFillinMCFGAbsentWedAm}" >[[${fillin.abbreviationName}]]</td>
        <td colspan="2" th:each="fillin: ${tableFillinMCFGAbsentWedPm}" >[[${fillin.abbreviationName}]]</td>
        <td colspan="2" th:each="fillin: ${tableFillinMCFGAbsentThuAm}" >[[${fillin.abbreviationName}]]</td>
        <td colspan="2" th:each="fillin: ${tableFillinMCFGAbsentThuPm}" >[[${fillin.abbreviationName}]]</td>
        <td colspan="2" th:each="fillin: ${tableFillinMCFGAbsentFriAm}" >[[${fillin.abbreviationName}]]</td>
        <td colspan="2" th:each="fillin: ${tableFillinMCFGAbsentFriPm}" >[[${fillin.abbreviationName}]]</td>
    </tr>
</table>
</body>
</html>