<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:td="http://www.w3.org/1999/xhtml">
<link rel="STYLESHEET" href="css/css.css" type="text/css">

<head>
    <title>VCM</title>
</head>

<body>
<div class="navbar">
    <div class="dropdown">
        <img src="images/cm2.png" alt="CM" width="70" height="70">
    </div>
    <div class="dropdown">
        <button class="dropbtn">Fill in
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/pageFillin">Fill in</a>
            <a href="/changefillin">Change fill in</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Own data
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/ownData2">Tasks and absent</a>
            <a href="/ownDataAbsent2">List absent</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Information
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/schema2">Completed table</a>
            <a href="/lcm2">LCM</a>
            <a href="/vcm2">VCM</a>
            <a href="/mcfg2">MCFG</a>
            <a href="/allAbsent2">Absent: all members</a>
            <a href="/alltasksallmember2">Tasks: all members</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Sign out
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/signOut">Sign out</a>
        </div>
    </div>
</div>
<br>

<p th:each="fillin: ${fillinVCMWeek}" >Week :  [[${fillin.week}]]</p>
<table >
    <tr>
        <th colspan="3"></th>
        <th class="schema2">Mon Am</th>
        <th class="schema2">Loc:</th>
        <th class="schema2">Mon PM</th>
        <th class="schema2">Loc:</th>
        <th class="schema2">Tue Am</th>
        <th class="schema2">Loc:</th>
        <th class="schema2">Tue PM</th>
        <th class="schema2">Loc:</th>
        <th class="schema2">Wed Am</th>
        <th class="schema2">Loc:</th>
        <th class="schema2">Wed PM</th>
        <th class="schema2">Loc:</th>
        <th class="schema2">Thu Am</th>
        <th class="schema2">Loc:</th>
        <th class="schema2">Thu PM</th>
        <th class="schema2">Loc:</th>
        <th class="schema2">Fri Am</th>
        <th class="schema2">Loc:</th>
        <th class="schema2">Fri PM</th>
        <th class="schema2">Loc:</th>
    </tr>
    <tr th:each="fillin: ${fillinVCMMail}">
        <th>SD 1L VCM</th>
        <th>8u</th>
        <th>mail</th>
        <td colspan="2">[[${fillin.monAmLocation}]]</td>
        <td colspan="2">[[${fillin.monPmLocation}]]</td>
        <td colspan="2">[[${fillin.tueAmLocation}]]</td>
        <td colspan="2">[[${fillin.tuePmLocation}]]</td>
        <td colspan="2">[[${fillin.wedAmLocation}]]</td>
        <td colspan="2">[[${fillin.wedPmLocation}]]</td>
        <td colspan="2">[[${fillin.thuAmLocation}]]</td>
        <td colspan="2">[[${fillin.thuAmLocation}]]</td>
        <td colspan="2">[[${fillin.friAmLocation}]]</td>
        <td colspan="2"> [[${fillin.friAmLocation}]]</td>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th>Tel 1st</th>
        <td th:each="fillin: ${fillinVCMMonAmTel}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMMonAmTel}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMMonPmTel}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMMonPmTel}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMTueAmTel}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMTueAmTel}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMTuePmTel}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMTuePmTel}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMWedAmTel}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMWedAmTel}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMWedPmTel}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMWedPmTel}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMThuAmTel}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMThuAmTel}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMThuPmTel}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMThuPmTel}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMFriAmTel}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMFriAmTel}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMFriPmTel}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMFriPmTel}">[[${fillin.abbreviationLocation}]]</td>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th>Tel 1st</th>
        <td th:each="fillin: ${fillinVCMMonAmTelPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMMonAmTelPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMMonPmTelPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMMonPmTelPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMTueAmTelPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMTueAmTelPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMTuePmTelPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMTuePmTelPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMWedAmTelPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMWedAmTelPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMWedPmTelPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMWedPmTelPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMThuAmTelPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMThuAmTelPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMThuPmTelPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMThuPmTelPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMFriAmTelPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMFriAmTelPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMFriPmTelPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMFriPmTelPer2}">[[${fillin.abbreviationLocation}]]</td>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th>Tel 1st</th>
        <td th:each="fillin: ${fillinVCMMonAmTelPer3}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMMonAmTelPer3}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMMonPmTelPer3}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMMonPmTelPer3}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMTueAmTelPer3}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMTueAmTelPer3}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMTuePmTelPer3}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMTuePmTelPer3}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMWedAmTelPer3}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMWedAmTelPer3}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMWedPmTelPer3}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMWedPmTelPer3}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMThuAmTelPer3}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMThuAmTelPer3}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMThuPmTelPer3}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMThuPmTelPer3}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMFriAmTelPer3}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMFriAmTelPer3}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMFriPmTelPer3}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMFriPmTelPer3}">[[${fillin.abbreviationLocation}]]</td>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th>Tel 2nd</th>
        <td th:each="fillin: ${fillinVCMMonAmTel2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMMonAmTel2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMMonPmTel2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMMonPmTel2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMTueAmTel2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMTueAmTel2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMTuePmTel2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMTuePmTel2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMWedAmTel2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMWedAmTel2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMWedPmTel2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMWedPmTel2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMThuAmTel2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMThuAmTel2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMThuPmTel2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMThuPmTel2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMFriAmTel2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMFriAmTel2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMFriPmTel2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMFriPmTel2}">[[${fillin.abbreviationLocation}]]</td>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th>Tel 2nd</th>
        <td th:each="fillin: ${fillinVCMMonAmTel2Per2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMMonAmTel2Per2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMMonPmTel2Per2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMMonPmTel2Per2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMTueAmTel2Per2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMTueAmTel2Per2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMTuePmTel2Per2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMTuePmTel2Per2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMWedAmTel2Per2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMWedAmTel2Per2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMWedPmTel2Per2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMWedPmTel2Per2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMThuAmTel2Per2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMThuAmTel2Per2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMThuPmTel2Per2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMThuPmTel2Per2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMFriAmTel2Per2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMFriAmTel2Per2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMFriPmTel2Per2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMFriPmTel2Per2}">[[${fillin.abbreviationLocation}]]</td>
    </tr>
    <tr>
        <th colspan="23" class="schema"></th>
    </tr>
    <tr>
        <th>SD 2L INC VCM</th>
        <th></th>
        <th>zabbix</th>
        <td th:each="fillin: ${fillinVCMMonAmZabbix}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMMonAmZabbix}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMMonPmZabbix}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMMonPmZabbix}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMTueAmZabbix}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMTueAmZabbix}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMTuePmZabbix}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMTuePmZabbix}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMWedAmZabbix}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMWedAmZabbix}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMWedPmZabbix}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMWedPmZabbix}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMThuAmZabbix}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMThuAmZabbix}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMThuPmZabbix}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMThuPmZabbix}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMFriAmZabbix}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMFriAmZabbix}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMFriPmZabbix}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMFriPmZabbix}">[[${fillin.abbreviationLocation}]]</td>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <td th:each="fillin: ${fillinVCMMonAmINCPer1}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMMonAmINCPer1}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMMonPmINCPer1}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMMonPmINCPer1}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMTueAmINCPer1}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMTueAmINCPer1}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMTuePmINCPer1}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMTuePmINCPer1}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMWedAmINCPer1}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMWedAmINCPer1}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMWedPmINCPer1}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMWedPmINCPer1}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMThuAmINCPer1}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMThuAmINCPer1}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMThuPmINCPer1}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMThuPmINCPer1}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMFriAmINCPer1}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMFriAmINCPer1}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMFriPmINCPer1}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMFriPmINCPer1}">[[${fillin.abbreviationLocation}]]</td>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <td th:each="fillin: ${fillinVCMMonAmINCPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMMonAmINCPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMMonPmINCPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMMonPmINCPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMTueAmINCPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMTueAmINCPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMTuePmINCPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMTuePmINCPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMWedAmINCPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMWedAmINCPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMWedPmINCPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMWedPmINCPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMThuAmINCPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMThuAmINCPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMThuPmINCPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMThuPmINCPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMFriAmINCPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMFriAmINCPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMFriPmINCPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMFriPmINCPer2}">[[${fillin.abbreviationLocation}]]</td>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <td th:each="fillin: ${fillinVCMMonAmINCPer3}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMMonAmINCPer3}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMMonPmINCPer3}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMMonPmINCPer3}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMTueAmINCPer3}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMTueAmINCPer3}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMTuePmINCPer3}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMTuePmINCPer3}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMWedAmINCPer3}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMWedAmINCPer3}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMWedPmINCPer3}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMWedPmINCPer3}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMThuAmINCPer3}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMThuAmINCPer3}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMThuPmINCPer3}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMThuPmINCPer3}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMFriAmINCPer3}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMFriAmINCPer3}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMFriPmINCPer3}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMFriPmINCPer3}">[[${fillin.abbreviationLocation}]]</td>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <td th:each="fillin: ${fillinVCMMonAmINCPer4}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMMonAmINCPer4}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMMonPmINCPer4}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMMonPmINCPer4}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMTueAmINCPer4}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMTueAmINCPer4}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMTuePmINCPer4}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMTuePmINCPer4}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMWedAmINCPer4}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMWedAmINCPer4}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMWedPmINCPer4}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMWedPmINCPer4}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMThuAmINCPer4}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMThuAmINCPer4}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMThuPmINCPer4}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMThuPmINCPer4}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMFriAmINCPer4}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMFriAmINCPer4}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMFriPmINCPer4}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMFriPmINCPer4}">[[${fillin.abbreviationLocation}]]</td>
    </tr>
    <tr>
        <th>SD 2L SR VCM</th>
        <th></th>
        <th></th>
        <td th:each="fillin: ${fillinVCMMonAmSR}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMMonAmSR}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMMonPmSR}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMMonPmSR}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMTueAmSR}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMTueAmSR}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMTuePmSR}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMTuePmSR}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMWedAmSR}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMWedAmSR}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMWedPmSR}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMWedPmSR}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMThuAmSR}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMThuAmSR}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMThuPmSR}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMThuPmSR}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMFriAmSR}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMFriAmSR}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMFriPmSR}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMFriPmSR}">[[${fillin.abbreviationLocation}]]</td>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <td th:each="fillin: ${fillinVCMMonAmSRPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMMonAmSRPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMMonPmSRPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMMonPmSRPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMTueAmSRPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMTueAmSRPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMTuePmSRPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMTuePmSRPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMWedAmSRPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMWedAmSRPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMWedPmSRPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMWedPmSRPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMThuAmSRPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMThuAmSRPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMThuPmSRPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMThuPmSRPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMFriAmSRPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMFriAmSRPer2}">[[${fillin.abbreviationLocation}]]</td>
        <td th:each="fillin: ${fillinVCMFriPmSRPer2}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${fillinVCMFriPmSRPer2}">[[${fillin.abbreviationLocation}]]</td>
    </tr>
    <tr>
        <th colspan="23" class="schema">Tasks</th>
    </tr>
    <tr>
        <th colspan="3"></th>
        <td th:each="fillin: ${tableFillinVCMTaskMonAm}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${tableFillinVCMTaskMonAm}">[[${fillin.monAmTask}]]</td>
        <td th:each="fillin: ${tableFillinVCMTaskMonPm}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${tableFillinVCMTaskMonPm}">[[${fillin.monPmTask}]]</td>
        <td th:each="fillin: ${tableFillinVCMTaskTueAm}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${tableFillinVCMTaskTueAm}">[[${fillin.tueAmTask}]]</td>
        <td th:each="fillin: ${tableFillinVCMTaskTuePm}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${tableFillinVCMTaskTuePm}">[[${fillin.tuePmTask}]]</td>
        <td th:each="fillin: ${tableFillinVCMTaskWedAm}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${tableFillinVCMTaskWedAm}">[[${fillin.wedAmTask}]]</td>
        <td th:each="fillin: ${tableFillinVCMTaskWedPm}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${tableFillinVCMTaskWedPm}">[[${fillin.wedPmTask}]]</td>
        <td th:each="fillin: ${tableFillinVCMTaskThuAm}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${tableFillinVCMTaskThuAm}">[[${fillin.thuAmTask}]]</td>
        <td th:each="fillin: ${tableFillinVCMTaskThuPm}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${tableFillinVCMTaskThuPm}">[[${fillin.thuPmTask}]]</td>
        <td th:each="fillin: ${tableFillinVCMTaskFriAm}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${tableFillinVCMTaskFriAm}">[[${fillin.friAmTask}]]</td>
        <td th:each="fillin: ${tableFillinVCMTaskFriPm}">[[${fillin.abbreviationName}]]</td>
        <td th:each="fillin: ${tableFillinVCMTaskFriPm}">[[${fillin.friPmTask}]]</td>
    </tr>
    <tr>
        <th colspan="23" class="schema">Absent</th>
    </tr>
    <tr>
        <th colspan="3"></th>
        <td colspan="2" td:each="fillin: ${tableFillinVCMAbsentMonAm}" >[[${fillin.abbreviationName}]]</td>
        <td colspan="2" td:each="fillin: ${tableFillinVCMAbsentMonPm}" >[[${fillin.abbreviationName}]]</td>
        <td colspan="2" td:each="fillin: ${tableFillinVCMAbsentTueAm}" >[[${fillin.abbreviationName}]]</td>
        <td colspan="2" td:each="fillin: ${tableFillinVCMAbsentTuePm}" >[[${fillin.abbreviationName}]]</td>
        <td colspan="2" td:each="fillin: ${tableFillinVCMAbsentWedAm}" >[[${fillin.abbreviationName}]]</td>
        <td colspan="2" td:each="fillin: ${tableFillinVCMAbsentWedPm}" >[[${fillin.abbreviationName}]]</td>
        <td colspan="2" td:each="fillin: ${tableFillinVCMAbsentThuAm}" >[[${fillin.abbreviationName}]]</td>
        <td colspan="2" td:each="fillin: ${tableFillinVCMAbsentThuPm}" >[[${fillin.abbreviationName}]]</td>
        <td colspan="2" td:each="fillin: ${tableFillinVCMAbsentFriAm}" >[[${fillin.abbreviationName}]]</td>
        <td colspan="2" td:each="fillin: ${tableFillinVCMAbsentFriPm}">[[${fillin.abbreviationName}]]</td>
    </tr>
</table>

</body>
</html>