body {
    background-color: #dcdcdc;
}

.button {
    border: none;
    color: white;
    padding: 8px 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 180px;
}

.buttonA {
    border: none;
    color: white;
    padding: 8px 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 350px;
}
.buttonB {
    border: none;
    color: white;
    padding: 8px 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 790px;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.framework {
    border: 2px #3399CC;
    padding: 3px;
    text-align: center;
}

.navbar {
    overflow: hidden;
    background-color: #418345;
}
add
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: darkgreen;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.kader {
    margin-left: 5%;
}

table {
    margin-right: 20px;
}

table,
th,
td {
    border: 1px solid #000000;
    border-collapse: collapse;
    margin-right: 5%;
}

th,
td {
    text-align: left;
}

h1 {
    font-size: 20px;
}

#t01 tr:nth-child(even) {
    background-color: #eee;
}

#t01 tr:nth-child(odd) {
    background-color: #fff;
}

#t01 th {
    background-color: #418345;
    color: white;
}
#t02 tr:nth-child(even) {
    background-color: #eee;
}

#t02 tr:nth-child(odd) {
    background-color: #fff;
}

#t02 th {
    background-color: #418345;
    color: white;
}

.t02 tr:nth-child(even) {
    background-color: #eee;
}

.t02 tr:nth-child(odd) {
    background-color: #fff;
}

.t02 th {
    background-color: #418345;
    color: white;
}
.lcm {
    margin-left: 5%;
    margin-right: 5%;
}

.add {
    margin-left: 20%;
    margin-right: 20%;
}

.searchLCM {
    margin-left: 15%;
    margin-right: 15%;
}

#searchLCM {
    margin-left: 15%;
    margin-right: 15%;
}

.fillin {
    margin-left: 10%;
    margin-right: 10%;
}

.length {
    margin-left: 10%;
    margin-right: 10%;
}

.task {
    margin-left: -5%;
    margin-right: -5%;
}

.searchAllAbsent {
    margin-right: 5%;
    margin-left: 5%;
}

.tableAbsent {
    margin-right: 5%;
    margin-left: -5%;
}

.tableAll {
    margin-right: 35%;
    margin-left: 35%;
    margin-top: 10%;
}
.tableTask {
    margin-left: 10%;
    margin-left: 10%;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.delete {
    margin-left: 2%;
    margin-right: 5%;
}

.schema {
    background-color: #418345;
}

.schema2 {
    background-color: #4CAF50;
}
.schema3 {
    background-color: gray;
}

